.thesis-link {
    color: white !important;
    font-weight: normal;
  }
  
  .thesis-link.active {
    color: #FF7C11 !important;
    font-weight: bold;
  }

  .nav-tabs{

    background: #FF7C11;

  }

  /*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-col {
  color: #fff;
  background-color: #003576;
  border-color: #003576; /*set the color you want here*/
}

.nav-tabs {
  --bs-nav-tabs-border-color: #ffff;
}





