.thesis-link {
    color: white !important;
    font-weight: normal;
  }
  
  .thesis-link.active {
    color: #FF7C11 !important;
    font-weight: bold;
  }

  .nav-tabs{

    background: #FF7C11;

  }

  /*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-col {
  color: #fff;
  background-color: #003576;
  border-color: #003576; /*set the color you want here*/
}

.nav-tabs {
  --bs-nav-tabs-border-color: #ffff;
}

.custom-disabled-item {
  color: inherit !important; /* Usa il colore ereditato, senza sbiadimento */
  cursor: not-allowed !important; /* Usa il cursore "not-allowed" */
  background-color: transparent !important; /* Imposta il background come trasparente senza sbiaditura */
  opacity: 1 !important; /* Imposta l'opacità a 1 senza sbiaditura */
  /* Altri stili personalizzati, se necessario */
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:focus {
  background-color: rgb(198, 197, 197) !important; /* Cambia il colore di sfondo quando l'elemento è cliccato o ha lo stato di focus */
  color: white !important; /* Cambia il colore del testo quando l'elemento è cliccato o ha lo stato di focus */
}



